<a href="https://colab.research.google.com/github/VanessaKnox/2016-Presidential-Election-Analysis/blob/master/Early_Vote_Data_Cleaning_for_Grassroots_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# Automated Data Cleaning for Grassroots Paid Canvassing Data

**How to use this notebook**

1. Click on the folder button and upload file that needs to be cleaned
2. Click on the three dots next to the file you just uploaded and click on "Copy path"
3. Paste path inside single quotes in the cell below
4. Click on Runtime in the top menu bar and click "Run all"
5. Download all 5 CSVs (canvass results, support, lawn sign, vol ask, and vbm) to your computer. You'll see the files by clicking on the folder button on the left. Then click the three dots next to each file and click "Download" to download the files

In [ ]:
import pandas as pd
df = pd.read_excel("/content/paid_combined1025EV.xlsx")

## Support

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#murphy support
support = df[df['Murphy Support'].notnull()]

In [ ]:
support['Murphy Support'].value_counts()

1. Strong Support      1240
3. Undecided            127
2. Leans Support         64
6. Already Voted         44
5. Strongly Against      37
4. Leans Against          4
Name: Murphy Support, dtype: int64

In [ ]:
support['1'] = (support['Murphy Support'] == '1. Strong Support').replace({True: '1. Strong Support', False: ''})
support['2'] = (support['Murphy Support'] == '2. Leans Support').replace({True: '2. Leans Support', False: ''})
support['3'] = (support['Murphy Support'] == '3. Undecided').replace({True: '3. Undecided', False: ''})
support['4'] = (support['Murphy Support'] == '4. Leans Against').replace({True: '4. Leans Against', False: ''})
support['5'] = (support['Murphy Support'] == '5. Strongly Against').replace({True: '5. Strongly Against', False: ''})

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
supp = support[['ExternalID', '1', '2', '3', '4', '5']].rename(columns={'ExternalID':'vanid'})
supp = supp.dropna(subset=['vanid'])

In [ ]:
supp.columns

Index(['vanid', '1', '2', '3', '4', '5'], dtype='object')

In [ ]:
supp.vanid = supp.vanid.astype(int).astype(str)

In [ ]:
supp

          vanid                  1 2              3 4  5
3      13943769  1. Strong Support
6       5718827  1. Strong Support
16      6425291
17      6425291
25      1635036                        3. Undecided
...         ...                ... ..           ... .. ..
10439   6614273  1. Strong Support
10441  10902811  1. Strong Support
10449  14131385  1. Strong Support
10450   6150914  1. Strong Support
10453   5701841  1. Strong Support

[1516 rows x 6 columns]

## Canvass Results

In [ ]:
canvass = df[df['SubjectStatus'].notnull()]
canvass = df[df['SubjectStatus'] != 'Not Knocked']
column_name = 'SubjectStatus'

In [ ]:
canvass.SubjectStatus.count()

10392

In [ ]:
canvass['nothome'] = (canvass[column_name] == 'Not Home').replace({True: 'nothome', False: ''})
canvass['inaccessible'] = (canvass[column_name] == 'Inaccessible').replace({True: 'inaccessible', False: ''})
canvass['refused'] = (canvass[column_name] == 'Refused').replace({True: 'refused', False: ''})
canvass['not an address'] = (canvass[column_name] == 'Not an Address').replace({True: 'not an address', False: ''})
canvass['come back'] = (canvass[column_name] == 'Come Back Later').replace({True: 'come back', False: ''})
canvass['moved'] = (canvass[column_name] == 'Moved').replace({True: 'moved', False: ''})
canvass['vacant'] = (canvass[column_name] == 'Vacant or For Sale').replace({True: 'vacant', False: ''})
canvass['language'] = (canvass[column_name] == 'Language Barrier').replace({True: 'language', False: ''})

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
can = canvass[['ExternalID','nothome','inaccessible','refused','not an address','come back','moved','vacant','language']]

In [ ]:
can = can.rename(columns={'ExternalID':'vanid'}).dropna(subset=['vanid'])

In [ ]:
can.vanid = can.vanid.astype(int).astype(str)

In [ ]:
can.head()

      vanid  nothome inaccessible refused  ... come back moved vacant language
0   1635153  nothome                       ...
1   1635153  nothome                       ...
2  13943769  nothome                       ...
3  13943769                                ...
4   1476259  nothome                       ...

[5 rows x 9 columns]

## Issue

In [ ]:
column_name = 'Undecided'
split = df[df[column_name].notnull()]

In [ ]:
split[column_name].value_counts()

Health Care     46
Education       42
Jobs/Economy    21
Name: Undecided, dtype: int64

In [ ]:
split['education'] = (split[column_name] == 'Education').replace({True: 'education', False: ''})
split['jobs'] = (split[column_name] == 'Jobs/Economy').replace({True: 'jobs', False: ''})
split['healthcare'] = (split[column_name] == 'Health Care').replace({True: 'healthcare', False: ''})

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
split1 = split[['ExternalID','education','jobs','healthcare']]
issue = split1.rename(columns={'ExternalID':'vanid'}).dropna(subset=['vanid'])

In [ ]:
issue.vanid = issue.vanid.astype(int).astype(str)

In [ ]:
issue

          vanid  education  jobs  healthcare
25      1635036                   healthcare
43      1540194  education
44      1540194  education
55      5259002  education
131     6209661  education
...         ...        ...   ...         ...
10353   4764229  education
10361     98252                   healthcare
10366    466346             jobs
10395   5985297  education
10403  11220281                   healthcare

[109 rows x 4 columns]

# Early Vote--

In [ ]:
column_name = 'Early Vote Script'
split = df[df[column_name].notnull()]

In [ ]:
split[column_name].value_counts()

No, I will vote on Election Day November 2nd    253
Undecided                                       144
Yes, I will be voting early                      68
Name: Early Vote Script, dtype: int64

In [ ]:
split['yes'] = (split[column_name] == 'Yes, I will be voting early').replace({True: 'yes', False: ''})
split['no'] = (split[column_name] == 'No, I will vote on Election Day November 2nd').replace({True: 'no', False: ''})
split['undecided'] = (split[column_name] == 'Undecided').replace({True: 'undecided', False: ''})

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
split1 = split[['ExternalID','no','yes', 'undecided']]
ev = split1.rename(columns={'ExternalID':'vanid'}).dropna(subset=['vanid'])

In [ ]:
ev.vanid = ev.vanid.astype(int).astype(str)

In [ ]:
ev

          vanid  no  yes  undecided
3      13943769  no
6       5718827      yes
29      1497746  no
32     13945524           undecided
33     13945524      yes
...         ...  ..  ...        ...
10439   6614273  no
10441  10902811  no
10449  14131385  no
10450   6150914      yes
10453   5701841  no

[465 rows x 4 columns]

# If Early Voting-When

In [ ]:
column_name = 'If Early Voting-When.'
split = df[df[column_name].notnull()]

In [ ]:
split[column_name].value_counts()

Morning      33
Afternoon    30
Evening       5
Name: If Early Voting-When., dtype: int64

In [ ]:
split['morning'] = (split[column_name] == 'Morning').replace({True: 'morning', False: ''})
split['afternoon'] = (split[column_name] == 'Afternoon').replace({True: 'afternoon', False: ''})
split['evening'] = (split[column_name] == 'Evening').replace({True: 'evening', False: ''})

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
split1 = split[['ExternalID','morning','afternoon', 'evening']]
iev = split1.rename(columns={'ExternalID':'vanid'}).dropna(subset=['vanid'])

In [ ]:
iev.vanid = iev.vanid.astype(int).astype(str)

In [ ]:
iev

          vanid  morning  afternoon  evening
6       5718827           afternoon
33     13945524  morning
46      1436287  morning
61      1520057           afternoon
102     4681770                      evening
...         ...      ...        ...      ...
10398     12042           afternoon
10408   5566011                      evening
10410     83976  morning
10414    131650  morning
10450   6150914           afternoon

[68 rows x 4 columns]

# If Voting Early-Travel

In [ ]:
column_name = 'If voting Early-Travel'
split = df[df[column_name].notnull()]

In [ ]:
split[column_name].value_counts()

Driving yourself                44
On foot or walking              15
Needs a ride from a friend       7
Taking Public Transportation     1
Name: If voting Early-Travel, dtype: int64

In [ ]:
split['driving'] = (split[column_name] == 'Driving yourself ').replace({True: 'driving', False: ''})
split['needs a ride'] = (split[column_name] == 'Needs a ride from a friend').replace({True: 'needs a ride', False: ''})
split['walking'] = (split[column_name] == 'On foot or walking').replace({True: 'walking', False: ''})
split['public transportation'] = (split[column_name] == 'Public Transportation').replace({True: 'public transportation', False: ''})

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
split1 = split[['ExternalID','driving','needs a ride', 'walking', 'public transportation']]
vet = split1.rename(columns={'ExternalID':'vanid'}).dropna(subset=['vanid'])

In [ ]:
vet.vanid = vet.vanid.astype(int).astype(str)

In [ ]:
vet

          vanid driving needs a ride  walking public transportation
6       5718827
33     13945524                       walking
46      1436287                       walking
61      1520057
102     4681770
...         ...     ...          ...      ...                   ...
10391     43522
10398     12042
10408   5566011
10410     83976
10450   6150914

[67 rows x 5 columns]

# No to Early Vote - When  are you voting

In [ ]:
column_name = 'No to Early Vote - When  are you voting'
split = df[df[column_name].notnull()]

In [ ]:
split[column_name].value_counts()

Morning      101
Afternoon     98
Evening       51
Name: No to Early Vote - When  are you voting, dtype: int64

In [ ]:
split['morning'] = (split[column_name] == 'Morning').replace({True: 'morning', False: ''})
split['afternoon'] = (split[column_name] == 'Afternoon').replace({True: 'afternoon', False: ''})
split['evening'] = (split[column_name] == 'Evening').replace({True: 'evening', False: ''})

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
split1 = split[['ExternalID','morning','afternoon', 'evening']]
nev = split1.rename(columns={'ExternalID':'vanid'}).dropna(subset=['vanid'])

In [ ]:
nev.vanid = nev.vanid.astype(int).astype(str)

In [ ]:
nev

          vanid  morning  afternoon  evening
3      13943769           afternoon
29      1497746           afternoon
54      6308834           afternoon
60      1520057           afternoon
73      6232730                      evening
...         ...      ...        ...      ...
10437  14630221           afternoon
10439   6614273           afternoon
10441  10902811                      evening
10449  14131385                      evening
10453   5701841  morning

[250 rows x 4 columns]

# If No to Early Vote - Travel

In [ ]:
column_name = 'If voting Early-Travel'
split = df[df[column_name].notnull()]

In [ ]:
split[column_name].value_counts()

Driving yourself                44
On foot or walking              15
Needs a ride from a friend       7
Taking Public Transportation     1
Name: If voting Early-Travel, dtype: int64

In [ ]:
split['driving'] = (split[column_name] == 'Driving yourself ').replace({True: 'driving', False: ''})
split['needs a ride'] = (split[column_name] == 'Needs a ride from a friend').replace({True: 'needs a ride', False: ''})
split['walking'] = (split[column_name] == 'On foot or walking').replace({True: 'walking', False: ''})
split['public transportation'] = (split[column_name] == 'Public Transportation').replace({True: 'public transportation', False: ''})

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
split1 = split[['ExternalID','driving','needs a ride', 'walking', 'public transportation']]
noevt = split1.rename(columns={'ExternalID':'vanid'}).dropna(subset=['vanid'])

In [ ]:
noevt.vanid = noevt.vanid.astype(int).astype(str)

In [ ]:
noevt

          vanid driving needs a ride  walking public transportation
6       5718827
33     13945524                       walking
46      1436287                       walking
61      1520057
102     4681770
...         ...     ...          ...      ...                   ...
10391     43522
10398     12042
10408   5566011
10410     83976
10450   6150914

[67 rows x 5 columns]

## Lawn Sign

In [ ]:
column_name = 'Lawn Sign'
split = df[df[column_name].notnull()]

In [ ]:
split[column_name].value_counts()

No, I do not want a lawn sign    1109
Yes, I want a lawn sign           102
Name: Lawn Sign, dtype: int64

In [ ]:
split['no'] = (split[column_name] == 'No, I do not want a lawn sign').replace({True: 'No, I do not want a lawn sign', False: ''})
split['yes'] = (split[column_name] == 'Yes, I want a lawn sign').replace({True: 'Yes, I want a lawn sign', False: ''})

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
split1 = split[['ExternalID','no','yes']]
ls = split1.rename(columns={'ExternalID':'vanid'}).dropna(subset=['vanid'])

In [ ]:
ls.vanid = ls.vanid.astype(int).astype(str)

In [ ]:
ls

          vanid                             no                      yes
3      13943769  No, I do not want a lawn sign
6       5718827  No, I do not want a lawn sign
32     13945524  No, I do not want a lawn sign
33     13945524  No, I do not want a lawn sign
36      1443383  No, I do not want a lawn sign
...         ...                            ...                      ...
10439   6614273                                 Yes, I want a lawn sign
10441  10902811                                 Yes, I want a lawn sign
10449  14131385                                 Yes, I want a lawn sign
10450   6150914                                 Yes, I want a lawn sign
10453   5701841                                 Yes, I want a lawn sign

[1211 rows x 3 columns]

## Vol Ask

In [ ]:
column_name = 'Murphy Volunteer'
split = df[df[column_name].notnull()]

In [ ]:
split[column_name].value_counts()

No, I will NOT volunteer    1125
Yes, I will volunteer        110
Name: Murphy Volunteer, dtype: int64

In [ ]:
split['no'] = (split[column_name] == 'No, I will NOT volunteer').replace({True: 'No, I will NOT volunteer', False: ''})
split['yes'] = (split[column_name] == 'Yes, I will volunteer').replace({True: 'Yes, I will volunteer', False: ''})
split['maybe'] = (split[column_name] == 'Maybe').replace({True: 'Maybe', False: ''})

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
split1 = split[['ExternalID','no','yes','maybe']]
vol = split1.rename(columns={'ExternalID':'vanid'}).dropna(subset=['vanid'])

In [ ]:
vol.vanid = vol.vanid.astype(int).astype(str)

In [ ]:
vol

          vanid                        no yes maybe
3      13943769  No, I will NOT volunteer
6       5718827  No, I will NOT volunteer
32     13945524  No, I will NOT volunteer
33     13945524  No, I will NOT volunteer
36      1443383  No, I will NOT volunteer
...         ...                       ...  ..   ...
10439   6614273  No, I will NOT volunteer
10441  10902811  No, I will NOT volunteer
10449  14131385  No, I will NOT volunteer
10450   6150914  No, I will NOT volunteer
10453   5701841  No, I will NOT volunteer

[1235 rows x 4 columns]

# Committ to Vote

In [ ]:
column_name = 'Commit to Vote Card '
split = df[df[column_name].notnull()]

In [ ]:
split[column_name].value_counts()

No the voter did not complete the card    1190
Yes the voter completed the card           124
Name: Commit to Vote Card , dtype: int64

In [ ]:
split['no'] = (split[column_name] == 'No the voter did not complete the card').replace({True: 'No the voter did not complete the card', False: ''})
split['yes'] = (split[column_name] == 'Yes the voter completed the card').replace({True: 'Yes the voter completed the card', False: ''})

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
split1 = split[['ExternalID','no','yes']]
ctv = split1.rename(columns={'ExternalID':'vanid'}).dropna(subset=['vanid'])

In [ ]:
ctv.vanid = ctv.vanid.astype(int).astype(str)

In [ ]:
ctv

          vanid  ...                               yes
3      13943769  ...
6       5718827  ...
29      1497746  ...
32     13945524  ...
33     13945524  ...
...         ...  ...                               ...
10439   6614273  ...  Yes the voter completed the card
10441  10902811  ...  Yes the voter completed the card
10449  14131385  ...  Yes the voter completed the card
10450   6150914  ...  Yes the voter completed the card
10453   5701841  ...  Yes the voter completed the card

[1314 rows x 3 columns]

# Create CSV's

In [ ]:
vol.to_csv('vol_ask.csv',index=False)
ls.to_csv('lawn_sign.csv',index=False)
can.to_csv('canvass_results.csv',index=False)
supp.to_csv('support.csv',index=False)
issue.to_csv('issue.csv',index=False)
ev.to_csv('ev.csv',index=False)
iev.to_csv('iev.csv',index=False)
vet.to_csv('vet.csv',index=False)
nev.to_csv('nev.csv',index=False)
noevt.to_csv('noevt.csv',index=False)
ctv.to_csv('ctv.csv', index=False)

LD Support ID

Count Support ID

Local Support ID