<a href="https://colab.research.google.com/github/VanessaKnox/2016-Presidential-Election-Analysis/blob/master/Phone_Burner_Support_ID_Data_Cleaning_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# Automated Data Cleaning for Grassroots Paid Canvassing Data

**How to use this notebook**

1. Click on the folder button and upload file that needs to be cleaned
2. Click on the three dots next to the file you just uploaded and click on "Copy path"
3. Paste path inside single quotes in the cell below
4. Click on Runtime in the top menu bar and click "Run all"
5. Download all 5 CSVs (canvass results, support, lawn sign, vol ask, and vbm) to your computer. You'll see the files by clicking on the folder button on the left. Then click the three dots next to each file and click "Download" to download the files

In [103]:
import pandas as pd
df = pd.read_excel('/content/1025rawdata.xlsx')

## Support

In [104]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [105]:
#murphy support
support = df[df['Murphy Support ID: Can we count on your vote to re-elect Gov. Phil Murphy on Nov 2nd?'].notnull()]

In [106]:
support['Murphy Support ID: Can we count on your vote to re-elect Gov. Phil Murphy on Nov 2nd?'].value_counts()

1. Strong Support    63
5 Strong Against     11
3. Undecided          9
2. Lean Support       6
Name: Murphy Support ID: Can we count on your vote to re-elect Gov. Phil Murphy on Nov 2nd?, dtype: int64

In [107]:
support['1'] = (support['Murphy Support ID: Can we count on your vote to re-elect Gov. Phil Murphy on Nov 2nd?'] == '1. Strong Support').replace({True: '1. Strong Support', False: ''})
support['2'] = (support['Murphy Support ID: Can we count on your vote to re-elect Gov. Phil Murphy on Nov 2nd?'] == '2. Leans Support').replace({True: '2. Leans Support', False: ''})
support['3'] = (support['Murphy Support ID: Can we count on your vote to re-elect Gov. Phil Murphy on Nov 2nd?'] == '3. Undecided').replace({True: '3. Undecided', False: ''})
support['4'] = (support['Murphy Support ID: Can we count on your vote to re-elect Gov. Phil Murphy on Nov 2nd?'] == '4. Leans Against').replace({True: '4. Leans Against', False: ''})
support['5'] = (support['Murphy Support ID: Can we count on your vote to re-elect Gov. Phil Murphy on Nov 2nd?'] == '5. Strongly Against').replace({True: '5. Strongly Against', False: ''})

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [108]:
supp = support[['VAN ID', '1', '2', '3', '4', '5']].rename(columns={'VAN ID':'vanid'})
supp = supp.dropna(subset=['vanid'])

In [109]:
supp.columns

Index(['vanid', '1', '2', '3', '4', '5'], dtype='object')

In [110]:
supp.vanid = supp.vanid.astype(int).astype(str)

In [111]:
supp

         vanid                  1 2              3 4  5
20      811804  1. Strong Support
29     4080777  1. Strong Support
112   15092585                        3. Undecided
156    6316669  1. Strong Support
264    8736084
...        ...                ... ..           ... .. ..
4469   1294422  1. Strong Support
4516   1265462  1. Strong Support
4523   5899194  1. Strong Support
4607   6728979
4647   1232306  1. Strong Support

[89 rows x 6 columns]

## Canvass Results

In [112]:
canvass = df[df['Status'].notnull()]
canvass = df[df['Status'] != 'No Answer']
column_name = 'Status'

In [113]:
canvass.Status.count()

4759

In [114]:
uniqueValues = canvass['Status'].unique()

In [115]:
canvass['nothome'] = (canvass[column_name] == 'Not Home').replace({True: 'nothome', False: ''})
canvass['disconnected'] = (canvass[column_name] == 'Disconnected').replace({True: 'disconnected', False: ''})
canvass['refused'] = (canvass[column_name] == 'Refused').replace({True: 'refused', False: ''})
canvass['deceased'] = (canvass[column_name] == 'Deceased').replace({True: 'deceased', False: ''})
canvass['call back'] = (canvass[column_name] == 'Call Back').replace({True: 'cALL back', False: ''})
canvass['do not call'] = (canvass[column_name] == 'Do Not Call').replace({True: 'do not call', False: ''})
canvass['follow up'] = (canvass[column_name] == 'Follow-up Call Needed').replace({True: 'follow up', False: ''})
canvass['language'] = (canvass[column_name] == 'Other Language').replace({True: 'language', False: ''})
canvass['left message'] = (canvass[column_name] == 'Left Message').replace({True: 'left message', False: ''})
canvass['wrong number'] = (canvass[column_name] == 'Wrong Number').replace({True: 'wrong number', False: ''})

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [116]:
can = canvass[['VAN ID','nothome','disconnected','refused','deceased','call back','do not call','follow up','language', 'left message', 'wrong number']]

In [117]:
can = can.rename(columns={'VAN ID':'vanid'}).dropna(subset=['vanid'])

In [118]:
can.vanid = can.vanid.astype(int).astype(str)

In [119]:
can

         vanid  nothome disconnected  ... language left message  wrong number
0       840090                        ...
1     10894206  nothome               ...
2      1463128                        ...
3       680940                        ...
4      2216004                        ...
...        ...      ...          ...  ...      ...          ...           ...
4797  14723138                        ...
4798  10953423                        ...
4799   5669977                        ...                        wrong number
4800   5398502                        ...
4801  11114851                        ...

[4798 rows x 11 columns]

## Issue

In [120]:
column_name = 'If Undecided -- What issues are important to you? Are there things you wish politicians would focus on that would help you or your family? List the following topics.'
split = df[df[column_name].notnull()]

In [121]:
split[column_name].value_counts()

Job/Economy    3
Healthcare     2
Education      1
Name: If Undecided -- What issues are important to you? Are there things you wish politicians would focus on that would help you or your family? List the following topics., dtype: int64

In [122]:
split['education'] = (split[column_name] == 'Education').replace({True: 'education', False: ''})
split['jobs'] = (split[column_name] == 'Jobs/Economy').replace({True: 'jobs', False: ''})
split['healthcare'] = (split[column_name] == 'Healthcare').replace({True: 'healthcare', False: ''})

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [123]:
split1 = split[['VAN ID','education','jobs','healthcare']]
issue = split1.rename(columns={'VAN ID':'vanid'}).dropna(subset=['vanid'])

In [124]:
issue.vanid = issue.vanid.astype(int).astype(str)

# Early Vote

In [125]:
column_name = 'Early Vote Question - can we count on you to cast your vote early or will you vote on Election Day Nov 2?'
split = df[df[column_name].notnull()]

In [126]:
split[column_name].value_counts()

Yes, I will be voting early                      21
No, I will vote on Election Day November 2nd     12
I am unsure of when I will be voting              9
Name: Early Vote Question - can we count on you to cast your vote early or will you vote on Election Day Nov 2?, dtype: int64

In [127]:
split['no'] = (split[column_name] == 'No, I will vote on Election Day November 2nd ').replace({True: 'no', False: ''})
split['yes'] = (split[column_name] == 'Yes, I will be voting early').replace({True: 'yes', False: ''})
split['unsure'] = (split[column_name] == 'I am unsure of when I will be voting').replace({True: 'unsure', False: ''})

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [128]:
split1 = split[['VAN ID','no','yes','unsure']]
ev = split1.rename(columns={'VAN ID':'vanid'}).dropna(subset=['vanid'])

In [129]:
ev.vanid = ev.vanid.astype(int).astype(str)

In [130]:
ev

         vanid  no  yes  unsure
112   15092585      yes
156    6316669           unsure
293     869017  no
336   14013675           unsure
353   12949746      yes
411    5941715      yes
477   14090386  no
479    9369435      yes
569   11265377  no
837    5902710  no
859     651270  no
925     727376      yes
1011   6600316      yes
1027   5383716      yes
1049   6713551      yes
1122    646068      yes
1146   6532701  no
1247  14712699      yes
1535  13791622  no
1567  11243309      yes
1654    347040      yes
1743   5704182           unsure
2177   4661864      yes
2282   9830023           unsure
2331    329124      yes
2351    585342      yes
3384   1298113      yes
3417   1273270      yes
3474   1293121      yes
3510   6607278           unsure
3669   6050742  no
3813   1240752           unsure
3871   5632818      yes
3877   6728118  no
4060   1273589  no
4248   1229799           unsure
4320  10914563           unsure
4363  14137584      yes
4421   6430342  no
4523   5899194      yes
4607   6728979           unsure
4647   1232306  no

# Early Vote Plan

In [131]:
column_name = 'Voting Early --: When do you plan on voting?'
split = df[df[column_name].notnull()]

In [132]:
split['morning'] = (split[column_name] == 'Morning').replace({True: 'Morning', False: ''})
split['afternoon'] = (split[column_name] == 'Afternoon').replace({True: 'Afternoon', False: ''})
split['evening'] = (split[column_name] == 'Evening').replace({True: 'Evening', False: ''})

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [133]:
split1 = split[['VAN ID','morning','afternoon','evening']]
evp = split1.rename(columns={'VAN ID':'vanid'}).dropna(subset=['vanid'])

In [134]:
evp.vanid = evp.vanid.astype(int).astype(str)

In [135]:
evp

         vanid  morning  afternoon  evening
112   15092585           Afternoon
1011   6600316           Afternoon
1027   5383716  Morning
1049   6713551           Afternoon
1055  15092613           Afternoon
1247  14712699           Afternoon
1273   5402819           Afternoon
2077  14647236                      Evening
2177   4661864  Morning
3384   1298113           Afternoon
4363  14137584           Afternoon
4523   5899194           Afternoon

# Early Vote - Transportation

In [136]:
column_name = 'Voting Early - Will you be going on foot, driving yourself, taking public transit, or will you need a ride from a friend?'
split = df[df[column_name].notnull()]

In [137]:
split['driving'] = (split[column_name] == 'Driving Yourself').replace({True: 'driving', False: ''})
split['needs a ride'] = (split[column_name] == 'Need a Ride').replace({True: 'needs a ride', False: ''})
split['walking'] = (split[column_name] == 'On Foot').replace({True: 'walking', False: ''})
split['public transportation'] = (split[column_name] == 'Taking Public Transportation').replace({True: 'public transportation', False: ''})

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [138]:
split1 = split[['VAN ID','driving','needs a ride','walking', 'public transportation']]
evt = split1.rename(columns={'VAN ID':'vanid'}).dropna(subset=['vanid'])

In [139]:
evt.vanid = evt.vanid.astype(int).astype(str)

In [140]:
evt

         vanid  driving  needs a ride walking public transportation
112   15092585           needs a ride
353   12949746  driving
411    5941715  driving
477   14090386  driving
1011   6600316  driving
1055  15092613  driving
1146   6532701  driving
1273   5402819  driving
3384   1298113  driving
4060   1273589  driving
4363  14137584  driving
4421   6430342           needs a ride
4523   5899194  driving

# Early Vote -- Plus One

In [141]:
column_name = 'Voting Early -- Who will you bring with you to vote?'
split = df[df[column_name].notnull()]

In [142]:
split['family'] = (split[column_name] == 'Family').replace({True: 'family', False: ''})
split['friend'] = (split[column_name] == 'Friend').replace({True: 'friend', False: ''})
split['no one'] = (split[column_name] == 'No one').replace({True: 'no one', False: ''})

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [143]:
split1 = split[['VAN ID','family','friend','no one']]
evo = split1.rename(columns={'VAN ID':'vanid'}).dropna(subset=['vanid'])

In [144]:
evo.vanid = evo.vanid.astype(int).astype(str)

In [145]:
evo

         vanid  family  friend  no one
112   15092585  family
411    5941715  family
477   14090386          friend
925     727376          friend
1011   6600316                  no one
1055  15092613  family
1146   6532701                  no one
1273   5402819  family
1504   4715624                  no one
2077  14647236                  no one
3384   1298113  family
4060   1273589  family
4363  14137584                  no one
4523   5899194                  no one

# Election Day Vote Plan

In [146]:
column_name = 'If No, I will vote on Election Day November 2nd. When do you plan on voting?'
split = df[df[column_name].notnull()]

In [147]:
split['morning'] = (split[column_name] == 'Morning').replace({True: 'Morning', False: ''})
split['afternoon'] = (split[column_name] == 'Afternoon').replace({True: 'Afternoon', False: ''})
split['evening'] = (split[column_name] == 'Evening').replace({True: 'Evening', False: ''})

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [148]:
split1 = split[['VAN ID','morning','afternoon','evening']]
edp = split1.rename(columns={'VAN ID':'vanid'}).dropna(subset=['vanid'])

In [149]:
edp.vanid = edp.vanid.astype(int).astype(str)

In [150]:
edp

        vanid  morning  afternoon evening
925    727376  Morning
1273  5402819           Afternoon
1288  6635260           Afternoon
2013   453395           Afternoon
3877  6728118           Afternoon

# Election Day Transportation

In [151]:
column_name = 'Voting Election Day - Will you be going on foot, driving yourself, taking public transit, or will you need a ride from a friend? Will you be go'
split = df[df[column_name].notnull()]

In [152]:
split['driving'] = (split[column_name] == 'Driving Yourself').replace({True: 'driving', False: ''})
split['needs a ride'] = (split[column_name] == 'Need a Ride').replace({True: 'needs a ride', False: ''})
split['walking'] = (split[column_name] == 'On Foot').replace({True: 'walking', False: ''})
split['public transportation'] = (split[column_name] == 'Taking Public Transportation').replace({True: 'public transportation', False: ''})

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [153]:
split1 = split[['VAN ID','driving','needs a ride','walking', 'public transportation']]
edt = split1.rename(columns={'VAN ID':'vanid'}).dropna(subset=['vanid'])

In [154]:
edt.vanid = edt.vanid.astype(int).astype(str)

In [155]:
edt

         vanid driving  needs a ride walking public transportation
1027   5383716
1288   6635260
2013    453395
2077  14647236
3877   6728118
4060   1273589
4421   6430342          needs a ride

# Election Day -- Plus One

In [156]:
column_name = 'Voting Election Day Who will you bring with you to vote?'
split = df[df[column_name].notnull()]

In [157]:
split['family'] = (split[column_name] == 'Family').replace({True: 'family', False: ''})
split['friend'] = (split[column_name] == 'Friend').replace({True: 'friend', False: ''})
split['no one'] = (split[column_name] == 'No one').replace({True: 'no one', False: ''})

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [158]:
split1 = split[['VAN ID','family','friend','no one']]
edo = split1.rename(columns={'VAN ID':'vanid'}).dropna(subset=['vanid'])

In [159]:
edo.vanid = edo.vanid.astype(int).astype(str)

In [160]:
edo

         vanid family friend  no one
353   12949746                no one
456    5577625
1288   6635260                no one
2013    453395                no one
2077  14647236                no one
3669   6050742
3877   6728118

## Lawn Sign

In [161]:
column_name = 'Lawn Sign'
split = df[df[column_name].notnull()]

In [162]:
split['no'] = (split[column_name] == 'No, I do not want a lawn sign').replace({True: 'No, I do not want a lawn sign', False: ''})
split['yes'] = (split[column_name] == 'Yes, I want a lawn sign').replace({True: 'Yes, I want a lawn sign', False: ''})

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [163]:
split1 = split[['VAN ID','no','yes']]
ls = split1.rename(columns={'VAN ID':'vanid'}).dropna(subset=['vanid'])

In [164]:
split[column_name].value_counts()

yes    14
Name: Lawn Sign, dtype: int64

In [165]:
ls.vanid = ls.vanid.astype(int).astype(str)

In [166]:
ls

         vanid no yes
353   12949746
738     669117
1924   5129528
1928  10347967
1998   1878259
2026    596160
2203  14647443
2885    211295
2890   6060614
2981  12942994
3035  13921723
3110  11188871
3417   1273270
4523   5899194

# Create CSV's

In [167]:
can.to_csv('canvass_results.csv',index=False)
supp.to_csv('support.csv',index=False)
issue.to_csv('issue.csv',index=False)
ev.to_csv('ev.csv', index=False)
evp.to_csv('evp.csv', index=False)
evt.to_csv('evt.csv', index=False)
evo.to_csv('evo.csv', index=False)
edp.to_csv('edp.csv', index=False)
edt.to_csv('edt.csv', index=False)
edo.to_csv('edo.csv', index=False)
ls.to_csv('lawn_sign.csv',index=False)